<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Adopt A Buddy</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Adopt A Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container">
        <h2 class="text-center mt-3"> Adopt A Buddy </h2>
        <br><br><br><br>

        
        <form action = '/' method = 'POST'>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Breed Category</label>
                  <select id="inputState" name = "breed" class="form-control" required>
                  
                      <option value = 0>0</option>
                      <option value = 1>1</option>
                      <option value = 2>2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Condition</label>
                  <select id="inputState" name = "condition" class="form-control" required>
                      <option value = -1>-1</option>
                      <option value = 0>0</option>
                      <option value = 1>1</option>
                      <option value = 2>2</option>
                    </select>
                  </div>
              </div><br>


              
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">X1</label>
                  <select id="inputState" name = "x1" class="form-control" required>
                      <option value = 0>0</option>
                      <option value = 1>1</option>
                      <option value = 2>2</option>
                      <option value = 3>3</option>
                      <option value = 4>4</option>
                      <option value = 5>5</option>
                      <option value = 6>6</option>
                      <option value = 7>7</option>
                      <option value = 8>8</option>
                      <option value = 9>9</option>
                      <option value = 10>10</option>
                      <option value = 11>11</option>
                      <option value = 12>12</option>
                      <option value = 13>13</option>
                      <option value = 14>14</option>
                      <option value = 15>15</option>
                      <option value = 16>16</option>
                      <option value = 17>17</option>
                      <option value = 18>18</option>
                      <option value = 19>19</option>
                      <!-- <option>2</option> -->
                    </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">X2</label>
                  <select id="inputState" name = "x2" class="form-control" required>
                      <option value = 0>0</option>
                      <option value = 1>1</option>
                      <option value = 2>2</option>
                      <option value = 3>3</option>
                      <option value = 4>4</option>
                      <option value = 5>5</option>
                      <option value = 6>6</option>
                      <option value = 7>7</option>
                      <option value = 8>8</option>
                      <option value = 9>9</option>
                    </select>
                  </div>
              </div><br>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Color Number</label>
                  <div class="d-flex justify-content-center my-4">
                    
                    
                    <input id="slider11" name="color" class="custom-range" type="range" min="0" max="55" step="1" />
                    
                    <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                  </div>
        
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Duration</label>
                    <div class="d-flex justify-content-center my-4">
                  
                      
                      <input id="slider112" name="duration" class="custom-range" type="range" min="-100" max="10000" step="1" />
                      
                      <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan2"></span>
                    </div>
                    
                  </div></div>
                      <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Height</label>
                      <div class="d-flex justify-content-center my-4">
                    
            
                        <input id="slider113" name="height" class="custom-range" type="range" min="5" max="50" step="1" />
                    
                    <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan3"></span>
                    </div>
            
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Width</label>
                        <div class="d-flex justify-content-center my-4">
                      
              
                          <input id="slider114" name="width" class="custom-range" type="range" min="1" max="1000" step="1" />
                      
                      <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan4"></span>
                      </div>
              
                        </div></div>
          
              


           
            <button type="submit" class="btn btn-primary">Predict</button>
          </form>
      </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan');
            const $value = $('#slider11');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan2');
            const $value = $('#slider112');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan3');
            const $value = $('#slider113');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan4');
            const $value = $('#slider114');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script>


</body>
</html>